<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076005541005-ad9m9atob2t5ds4249abdcj85588taik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076005541005-ad9m9atob2t5ds4249abdcj85588taik</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1076005541005-f0datgphthvlblonkab5uc8h9qatkg8s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZjtJHqiwU_XXH41kNERVeOqrfLyg6QYI</string>
	<key>GCM_SENDER_ID</key>
	<string>1076005541005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gerardoarceo.lieToApp</string>
	<key>PROJECT_ID</key>
	<string>lie-to-app</string>
	<key>STORAGE_BUCKET</key>
	<string>lie-to-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076005541005:ios:d8aa8cd911791410c5fec4</string>
	<key>DATABASE_URL</key>
	<string>https://lie-to-app.firebaseio.com</string>
</dict>
</plist>